<div class="product-card card card-shadow flex flex-col justify-between">

    <div class="product-card-flex flex flex-row sm:flex-col justify-between">

        <div class="product-card-left flex flex-col items-center">

            <img class="product-card-icon w-full" src="{{ include.product.icon | relative_url }}" />
            <img class="product-card-icon w-full" src="{{ include.product.logo | relative_url }}" />

        </div>
        <div class="product-card-right">
            {{ include.product.content }}
        </div>

    </div>

    <div class="flex flex-col justify-between">

    </div>

</div>